<!--<ion-header>-->
<!--    &lt;!&ndash;    <ion-navbar core-back-button>&ndash;&gt;-->
<!--    <ion-navbar>-->
<!--&lt;!&ndash;        <ion-title>{{ 'core.login.login' | translate }}</ion-title>&ndash;&gt;-->

<!--        &lt;!&ndash;        <ion-buttons end>&ndash;&gt;-->
<!--        &lt;!&ndash;            <button *ngIf="isFixedUrlSet" ion-button icon-only navPush="CoreAppSettingsPage" [attr.aria-label]="'core.settings.appsettings' | translate">&ndash;&gt;-->
<!--        &lt;!&ndash;                <core-icon name="fa-cogs"></core-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;            </button>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ion-buttons>&ndash;&gt;-->
<!--    </ion-navbar>-->
<!--</ion-header>-->

<style>*{
    color: #5d5d5d;
}
.text-input{
    margin-top: 0;
}

</style>
<ion-content>
    <div style="width: 100%;
    height: 56px;"></div>
    <core-loading [hideUntil]="pageLoaded">
        <ion-grid>
            <ion-row>
                <ion-col text-right size-md="6" size-lg="5" size-xs="12" style="padding:0px;">
                    <img style="width: 25%;" *ngIf="logoUrl" [src]="logoUrl" role="presentation"
                         onError="this.src='assets/img/login/title-icon.png'">
                    <img style="width: 25%;" *ngIf="!logoUrl" src="assets/img/login/title-icon.png" role="presentation">
                </ion-col>
                <ion-col class="ion-padding-bottom col" style="
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    " text-left="">
                    <div style="
       border-bottom: 3px solid #00cfff;
    padding-bottom: 5px;
    margin: 0 -5px;
    padding: 0px 6px 5px 16px;
">{{ 'core.login.signin' | translate }}
                        <div>

                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


        <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form"
              #credentialsForm>
            <ion-list no-lines class="ion-no-margin ion-no-padding">

                <ion-item *ngIf="siteChecked && !isBrowserSSO"  class="ion-no-margin "style="border: 0 ;min-height: 20px"  >
                      <ion-label style="margin: 0px 8px 0px 0;">{{ 'core.login.email' | translate }}</ion-label>

                </ion-item>

                <ion-item *ngIf="siteChecked && !isBrowserSSO"  style="border-bottom: 1px solid grey ;min-height: 20px;padding-left: 0;margin-left: 16px;    width: 90%;" >
                    <ion-input type="text" name="username"  class="ion-no-margin "style="margin: 0px 8px;"
                               placeholder="{{ 'core.login.username' | translate }}"
                               formControlName="username" autocapitalize="none"
                               autocorrect="off"></ion-input>
                    <ion-img src="assets/img/login/username-input-ico.png"  style="height: 50%;width:24px;margin: 0;margin-right: -8px;margin-bottom:2px " item-end></ion-img>
<!--                    <img src="assets/img/login/username-input-ico.png">-->
                </ion-item>
                <ion-item *ngIf="siteChecked && !isBrowserSSO" class="ion-no-margin "style="border: 0 ;min-height: 20px">
                    <ion-label style="margin: 0px 8px 0px 0;">{{ 'core.login.password' | translate }}</ion-label>

                                    </ion-item>

                <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom>
                    <core-show-password item-content [name]="'password'">
                        <ion-input class="core-ioninput-password" name="password" type="password"
                                   placeholder="{{ 'core.login.password' | translate }}"
                                   formControlName="password"
                                   core-show-password [clearOnEdit]="false"></ion-input>
                    </core-show-password>
                    <ion-img src="assets/img/login/password-ico.png"  style="height: 20PX;background-size: cover;width: 24px;" item-end></ion-img>
                </ion-item>

            </ion-list>
            <ion-list no-lines *ngIf="showForgottenPassword" class="core-login-forgotten-password">
                <a ion-item text-right text-wrap (click)="forgottenPassword()" detail-none>
                    {{ 'core.login.forgetpassword' | translate }}
                </a>
            </ion-list>
            <div padding>
                <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid"
                        class="core-login-login-button" style="width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #00cfff;color: white;">{{ 'core.login.signin' | translate }}</button>
            </div>
        </form>


        <!--        <div text-wrap text-center margin-bottom>-->
        <!--            <div class="core-login-site-logo">-->
        <!--                &lt;!&ndash; Show site logo or a default image. &ndash;&gt;-->
        <!--                <img *ngIf="logoUrl" [src]="logoUrl" role="presentation"-->
        <!--                     onError="this.src='assets/img/login/title-icon.png'">-->
        <!--                <img *ngIf="!logoUrl" src="assets/img/login/title-icon.png" role="presentation">-->
        <!--                <ion-label>Sign In</ion-label>-->
        <!--            </div>-->

        <!--            &lt;!&ndash;         <h3 *ngIf="siteName" padding class="core-sitename"><core-format-text [text]="siteName" [filter]="false"></core-format-text></h3>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <p class="core-siteurl">{{siteUrl}}</p>&ndash;&gt;-->
        <!--        </div>-->

        <!--        <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>-->
        <!--            <ion-item *ngIf="siteChecked && !isBrowserSSO">-->
        <!--                <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}"-->
        <!--                           formControlName="username" autocapitalize="none" autocorrect="off"></ion-input>-->
        <!--            </ion-item>-->
        <!--            <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom>-->
        <!--                <core-show-password item-content [name]="'password'">-->
        <!--                    <ion-input class="core-ioninput-password" name="password" type="password"-->
        <!--                               placeholder="{{ 'core.login.password' | translate }}" formControlName="password"-->
        <!--                               core-show-password [clearOnEdit]="false"></ion-input>-->
        <!--                </core-show-password>-->
        <!--            </ion-item>-->
        <!--            <div padding>-->
        <!--                <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid"-->
        <!--                        class="core-login-login-button">{{ 'core.login.loginbutton' | translate }}</button>-->
        <!--            </div>-->
        <!--        </form>-->

        <!-- Forgotten password button. -->
        <ion-list no-lines *ngIf="showForgottenPassword" class="core-login-forgotten-password" style="text-align: center;margin: 20px 0;">
            {{'core.login.newaccount' | translate}}
            <a  text-center text-wrap  detail-none style="text-decoration: underline;">
                {{ 'core.login.signup' | translate }}
            </a>
        </ion-list>

        <!--        <ion-list *ngIf="identityProviders && identityProviders.length" padding-top-->
        <!--                  class="core-login-identity-providers">-->
        <!--            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3>-->
        <!--            </ion-item>-->
        <!--            <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon"-->
        <!--                    (click)="oauthClicked(provider)" title="{{provider.name}}">-->
        <!--                <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>-->
        <!--                {{provider.name}}-->
        <!--            </button>-->
        <!--        </ion-list>-->

        <!--        <ion-list *ngIf="canSignup" padding-top class="core-login-sign-up">-->
        <!--            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3>-->
        <!--            </ion-item>-->
        <!--            <ion-item no-lines text-wrap *ngIf="authInstructions">-->
        <!--                <p>-->
        <!--                    <core-format-text [text]="authInstructions" [filter]="false"></core-format-text>-->
        <!--                </p>-->
        <!--            </ion-item>-->
        <!--            <button ion-button block color="light"-->
        <!--                    (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>-->
        <!--        </ion-list>-->

    </core-loading>
    <img src="assets/img/login/bg-img-signin-signup.png">


    <!--    <core-loading [hideUntil]="pageLoaded">-->
    <!--        <div text-wrap text-center margin-bottom>-->
    <!--            <div class="core-login-site-logo">-->
    <!--                &lt;!&ndash; Show site logo or a default image. &ndash;&gt;-->
    <!--                <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" onError="this.src='assets/img/login_logo.png'">-->
    <!--                <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation">-->
    <!--            </div>-->

    <!--&lt;!&ndash;         <h3 *ngIf="siteName" padding class="core-sitename"><core-format-text [text]="siteName" [filter]="false"></core-format-text></h3>&ndash;&gt;-->
    <!--&lt;!&ndash;            <p class="core-siteurl">{{siteUrl}}</p>&ndash;&gt;-->
    <!--        </div>-->

    <!--        <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>-->
    <!--            <ion-item *ngIf="siteChecked && !isBrowserSSO">-->
    <!--                <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username" autocapitalize="none" autocorrect="off"></ion-input>-->
    <!--            </ion-item>-->
    <!--            <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom>-->
    <!--                <core-show-password item-content [name]="'password'">-->
    <!--                    <ion-input class="core-ioninput-password" name="password" type="password" placeholder="{{ 'core.login.password' | translate }}" formControlName="password" core-show-password [clearOnEdit]="false"></ion-input>-->
    <!--                </core-show-password>-->
    <!--            </ion-item>-->
    <!--            <div padding>-->
    <!--                <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid" class="core-login-login-button">{{ 'core.login.loginbutton' | translate }}</button>-->
    <!--            </div>-->
    <!--        </form>-->

    <!--        &lt;!&ndash; Forgotten password button. &ndash;&gt;-->
    <!--        <ion-list no-lines *ngIf="showForgottenPassword" class="core-login-forgotten-password">-->
    <!--            <a ion-item text-center text-wrap (click)="forgottenPassword()" detail-none>-->
    <!--                {{ 'core.login.forgotten' | translate }}-->
    <!--            </a>-->
    <!--        </ion-list>-->

    <!--        <ion-list *ngIf="identityProviders && identityProviders.length" padding-top class="core-login-identity-providers">-->
    <!--            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3></ion-item>-->
    <!--            <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">-->
    <!--                <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>-->
    <!--                {{provider.name}}-->
    <!--            </button>-->
    <!--        </ion-list>-->

    <!--        <ion-list *ngIf="canSignup" padding-top class="core-login-sign-up">-->
    <!--            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3></ion-item>-->
    <!--            <ion-item no-lines text-wrap *ngIf="authInstructions">-->
    <!--                <p><core-format-text [text]="authInstructions" [filter]="false"></core-format-text></p>-->
    <!--            </ion-item>-->
    <!--            <button ion-button block color="light" (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>-->
    <!--        </ion-list>-->
    <!--    </core-loading>-->
</ion-content>
